{% extends "main/layout.html" %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="bg-dark text-light">
    <h1 style="font-style: italic; font-family: French Script MT; ">Log In</h1>
    <div class="form-border">
        <form class="site-form" action="{% url 'accounts:login' %}" method="post">
            <div class="logging-form">
                {% csrf_token %}
                {{ form|crispy }}
                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <input type="submit" style=" font-style: italic; font-family: sans-serif;" value="Log In" class="btn btn-outline-light" />
            </div>
        </form>
    </div>
</div>
<p>Not have an account? <a href="{% url 'accounts:signup' %}"><u>Sign Up</u></a></p>
{% endblock %}