{% extends "main/layout2.html" %}
{% block content %}
<div class="cart text-light">
    <div class="row">
        <div class="col-sm-12">
            {% if items %}
            <div class="table-responsive">
                <table class="table bg-transparent text-light">
                    <thead>
                    <tr>
                        <td scope="col">Item No.</td>
                        <th scope="col">Title</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Price</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }} <span class="badge badge-pill badge-light">{{ item.labels }}</span></td></td>
                        <td>{{ item.Discount }}</td>
                        <td>{{ item.price }}</td>
                        <td><a class="btn btn-outline-light" href="{% url 'main:item-update' item.slug %}">Update</a></td>
                        <td><a class="btn btn-outline-light" href="{% url 'main:item-delete' item.slug %}">Delete</a></td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <h4 class="text-center">No Items</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}