{% load get_group %}
{% load static %}
<!DOCTYPE html>
<html class="p-3 mb-2 bg-dark text-white" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
    <title>Jewellery Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
.dark-wrapper {
    background:#292b2c;
    color:white;
    font-size:20px;
    font-weight:bold;
}
.dark-wrapper .ss-style-top::before {
    background-image:linear-gradient(315deg,#292b2c 50%,transparent 50%),linear-gradient(45deg,#292b2c 50%,transparent 50%);
}
.social-bar {
    width:100%;
    text-align:right;
}
.social-bar a {
    display:inline-block;
    margin-right:11px;
    font-size:2.15em;
    text-decoration:none;
    color:#fff;
    opacity:1;
    filter:alpha(opacity=100);
    -webkit-transition:opacity 350ms ease;
    -moz-transition:opacity 350ms ease;
    -o-transition:opacity 350ms ease;
    transition:opacity 350ms ease;
}
.social-bar a:hover {
    opacity:0.5;
    filter: alpha(opacity=50);
}

.themeBy{
    color: #292b2c;
    background: white;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <a style="color: white; font-style: italic; font-family: French Script MT; " class="navbar-brand" href="/"><h1>Emerald Jeweller &nbsp</h1></a>
        <a style="color: white; font-size: larger; font-style: italic; font-family: French Script MT; " class="mr-2 text-light"><h2>User Name: {{request.user}} </h2> </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav ml-auto">
                    <li><a style="color: white; font-style: italic; font-family: sans-serif; " href="{% url 'main:home' %}" class="mr-2 text-light">Home &nbsp</a></li>
                    {% if user.is_authenticated %}
                    {% if request.user|has_group:"admin_owner" %} 
                        <li><a style="color: white; font-style: italic; font-family: sans-serif; " href="{% url 'main:admin_dashboard' %}" class="mr-2 text-light">DashBoard &nbsp</a></li>
                        <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button  type="submit" style="font-weight: bold; font-style: italic; font-family: sans-serif; " class="btn btn-sm btn-outline-light mr-2">Logout &nbsp</button>
                            </form>
                        </li> 
                    {% else %}
                        <li><a style="color: white; font-style: italic; font-family: sans-serif; " href="{% url 'main:cart' %}" class="mr-2 text-light">My Cart &nbsp</a></li>
                        <li><a style="color: white; font-style: italic; font-family: sans-serif; " href="{% url 'main:order_details' %}" class="mr-2 text-light">My Orders &nbsp</a></li>
                        <li><a style="color: white; font-style: italic; font-family: sans-serif; " href="{% url 'main:contact' %}" class="mr-2 text-light">Contact Us &nbsp</a></li>
                        <li><a style="color: white; font-style: italic; font-family: sans-serif; " href="{% url 'main:edit_profile' %}" class="mr-2 text-light">Edit Profile &nbsp</a></li>
                    <li><a style="color: white; font-style: italic; font-family: sans-serif; " href="{% url 'main:changepassword' %}" class="mr-2 text-light">Change Password &nbsp</a></li>
                    <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" style="font-weight: bold; font-style: italic; font-family: sans-serif; " class="btn btn-sm btn-outline-light mr-2">Logout &nbsp</button>
                            </form>
                        </li>
                    {% endif %}
                {% else %}
                    <li><a style="color: white; font-style: italic; font-family: sans-serif; " href="{% url 'accounts:login' %}" class="mr-2 text-light">Login &nbsp</a></li>
                    <li><a style="color: white; font-style: italic; font-family: sans-serif; " href="{% url 'accounts:signup' %}" class="mr-2 text-light">SignUp &nbsp</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main role="main">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $('.carousel').carousel();
    </script>

    <footer id="footer" class="dark-wrapper bg-dark text-light">
        <section class="buttom-footer py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container pt-lg-5 pt-md-5 pt-sm-4 pt-4">
               <div class="state-us mb-lg-5 mb-md-4 mb-3">
                <h1 style="color: white; font-style: italic; font-family: French Script MT; " class="text-center text-light mb-3">About Us</h1>
                <h5 class="text-center" style=" font-style: italic; font-family: sans-serif;">The entire collection from party to bridal is contour to impressive look and fits, 100% genuine & bespoke jewellery make your occasions special.</h5>
                
        <section class="ss-style-top"></section>
        <div class="container inner">
            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <br>
                    <h1 style="color: white; font-style: italic; font-family: French Script MT; " class=" text-light mb-3">Emerald Jeweller</h1>
                    <h6 style=" font-style: italic; font-family: sans-serif;">Copyright &copy; 2019 All Rights Reserved</h6>
                </div>
                <div class="col-sm-5">
                    <div class="social-bar">
                        <br>
                        <br>
                        <br>
                        <a href="https://www.instagram.com/" class="fa fa-instagram tooltipped" title=""> </a>
                        <a href="https://www.youtube.com/" class="fa fa-youtube-square tooltipped" title=""></a>
                        <a href="https://www.facebook.com/" class="fa fa-facebook-square tooltipped" title=""></a>
                        <a href="https://www.pinterest.com/" class="fa fa-pinterest-square tooltipped" title=""></a>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
            </div>
            </div>
        </section>
    </footer>